.catalog-page-container {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: min-content 1fr;
}

.item-card-container {
  grid-row: 2 / 4;
  grid-column: 2;
  display: grid;
  width: 98%;
  grid-template-columns: repeat(auto-fit,
          minmax(calc(2 * var(--default-space) +
          var(--item-card-container-width) + 13px - 1px), 1fr)
  );
  margin: var(--default-space);
}
